# build artifacts:

*/cmake-build-debug/
*/cmake/
*/__pycache__/
*.gch
*.o


# ide artifacts:

*.idea


# non-content:

dump/
# not programming
oving6/
oving12/test_out/*
oving12/test_huff/*
*.class
oving13/points/*


#privacy reasons:
oving5/names.txt

#size reasons:
oving7/L7Skandinavia
oving8/graphs/vgSkandinavia
oving13/graph/*
