# build artifacts:

*/cmake-build-debug/
*/cmake/
*/__pycache__/
*.gch
*.o
*.class

oving13/points/*
oving12/test_out/*
oving12/test_huff/*

# ide artifacts:

*.idea


# non-content:

dump/
*/venv/


# not programming
oving6/


#privacy reasons:
oving5/names.txt


#size reasons:
oving7/L7Skandinavia
oving8/graphs/vgSkandinavia
oving13/graph/*
