# build artifacts:

*/cmake-build-debug/
*/cmake/
*/__pycache__/
*.gch
*.o


# ide artifacts:

*.idea


# non-content:

dump/
# not programming
oving6/


#privacy reasons:

oving5/names.txt

#size reasons:
oving7/L7Skandinavia
